.articles {
    padding: var(--section-padding) 0;
    background-color: #FDFDFD;
}

.articles .box-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--box-grid-width-4), 1fr));
    gap: 40px 40px;

}

.articles .box-container .box {
    --padding-text: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    overflow: hidden;
    transition: var(--main-transition);
}

.articles .box-container .box:hover {
    transform: translateY(-20px);
}

.articles .box-container .box .img-holder {
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
}

.articles .box-container .box .img-holder img {
    width: 100%;
}

.articles .box-container .box .text-container {
    padding: 20px var(--padding-text);
}

.articles .box-container .box .text-container h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.articles .box-container .box .text-container p {
    color: var(--second-text-color);
}

.articles .box-container .box .read-more-button {
    border-top: 0.5px solid #E6E6E7;
    padding: 20px var(--padding-text);
    display: flex;
    justify-content: space-between;
}

.articles .box-container .box .read-more-button a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 800;
}

.articles .box-container .box .read-more-button i {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 9px;
    animation-duration: 0.4s;
    animation-name: arrow-box-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.articles .box-container .box:hover .read-more-button i {
    animation-play-state: running;
}

@keyframes arrow-box-animation {
    0% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(5px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}