.stats {
    padding: var(--section-padding) 0;
    background-image: url("./images/stats.jpg");
    background-size: cover;
}

.stats::before {
    background-color: hsla(195, 20%, 96%, 0.759);
}

.stats .header-text {
    text-align: center;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-size: 50px;
}

.stats .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--box-grid-width-4) - 50px), 1fr));
    gap: 15px;
}

.stats .content-container .box {
    background-color: #FCFDFE;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.stats .content-container .box i {
    font-size: 40px;
    font-weight: bold;
}

.stats .content-container .box span {
    display: block;
}

.stats .content-container .box .num {
    margin-top: 10px;
    font-size: 50px;
}

.stats .content-container .box .title {
    color: var(--main-color);
    margin-top: 10px;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
}

.stats .content-container .box::before,
.stats .content-container .box::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 0%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.stats .content-container .box::before{
    top: 0;
    left: 0;
}
.stats .content-container .box::after{
    bottom: 0;
    right: 0;
}
.stats .content-container .box:hover::after,
.stats .content-container .box:hover::before{
    height: 100%;
}