:root {
    --main-color: #2196F3;
    --main-color-alt: #1787E0;
    --section-background: #ECECEC;
    --second-text-color: #8F8F8F;
    --main-transition: .3s;
    --section-padding: 80px;
}

html {
    scroll-behavior: smooth;

}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}